{% extends 'blog/master.html' %}

{% block title %} EditPage {% endblock %}

{% block cont %}

<!--Form-->
<div  class='container'>
    <div class="row">
       <div>
           <h1>{{msg}}</h1>
           <form method="get" action="empupdate">
               <div class="form-group">
<!--                   <label>Eid:</label>-->
                   <input type="hidden" name="eid" class="form-control" value="{{data.eid}}">
               </div>
                <div class="form-group">
                   <label>Ename:</label>
                   <input type="text" name="ename" class="form-control" value="{{data.ename}}">
               </div>
                <div class="form-group">
                   <label>Elocation:</label>
                   <input type="text" name="eloc" class="form-control" value="{{data.eloc}}">
               </div>
                <div class="form-group">
                   <label>Esal:</label>
                   <input type="text" name="esal" class="form-control" value="{{data.esal}}">
               </div>
               <input type="submit" name="sub" value="Update" class="btn btn-primary">

           </form>
       </div>
    </div>
</div>
{% endblock %}