{% extends 'blog/master.html' %}

{% block title %} Empform {% endblock %}

{% block cont %}

<!--Form-->
<div  class='container'>
    <div class="row">
       <div>
           <h1>{{msg}}</h1>
           <form method="get" action="empdata">
               <div class="form-group">
                   <label>Eid:</label>
                   <input type="text" name="eid" class="form-control">
               </div>
                <div class="form-group">
                   <label>Ename:</label>
                   <input type="text" name="ename" class="form-control">
               </div>
                <div class="form-group">
                   <label>Elocation:</label>
                   <input type="text" name="eloc" class="form-control">
               </div>
                <div class="form-group">
                   <label>Esal:</label>
                   <input type="text" name="esal" class="form-control">
               </div>
               <input type="submit" name="sub" value="Submit" class="btn btn-primary">
               <input type="submit" name="sub" value="Display" class="btn btn-primary">

           </form>
       </div>
    </div>
</div>


<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Eid</th>
            <th>Ename</th>
            <th>Elocation</th>
            <th>Esal</th>
            <th>Action</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.eid}}</td>
            <td>{{d.ename}}</td>
            <td>{{d.eloc}}</td>
            <td>{{d.esal}}</td>
            <td><a href="delete?eid={{d.eid}}" class="btn btn-danger">Delete</a> | <a href="edit?eid={{d.eid}}" class="btn btn-primary">Edit</a>  </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}